numpy
scipy
wandb
colorlog
tqdm
h5py
ipdb
opencv-python
moviepy
mpi4py
gym
mujoco-py
#torch
#torchvision
absl-py
git+git://github.com/deepmind/dm_control.git
git+git://github.com/1nadequacy/dmc2gym.git
