# basic
requests
numpy
scipy
absl-py
ipdb
h5py

# configuration
hydra-core

# logging
wandb
colorlog
tqdm
slack_sdk

# image/video
opencv-python
imageio
imageio-ffmpeg
moviepy

# multi-processing
mpi4py

# environments
gym
dm_control

# DL framework
tensorflow
# torch
# torchvision
